body{
	background: rgb(2,0,36);
	background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
}

h1{
	color:white;
	text-align: center;
}
p1{
	color: white;
	font-family: verdana;
	font-size: 25px;
}

ul {
                  list-style-type: none;
                  margin: 0;
                  padding: 0;
                overflow:hidden;
            }

            li {
                  display: inline;
                float:left;
            }

            li a {
                  display: block;
                  padding: 8px;
                  background-color: lightgray;
            }
figcaption{
  color: white;
  font: fantasy;
  padding: 3px;
}

.col{
  float:left;
  width: 15%;
  padding: 3px;
}

.row::after{
  display: table;
}
